@{
    ViewData["Title"] = "Console OTW!";
}

@model JakupovicNL.Models.EmailForm

<div class="nes-container with-title is-centered" vertical-align="middle">
	<p class="title">Send!</p>
	<p>Thanks for the request @Model.Name! <br/> Don't forget to invite me for a 2P game!</p>
</div>
