@{
    ViewData["Title"] = "Oy!";
}

<div class="nes-container with-title is-centered" vertical-align="middle">
	<p class="title">Welcome</p>
	<p>It's dangerous to go alone, take this!</p>
	<br/>
	<br/>
	<a asp-action="EmailForm"><i class="snes-jp-logo"></i></a>
</div>
